<?xml version="1.0"?>
<config>
    <modules>
        <School_Task>
            <version>1.0.1</version>
        </School_Task>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <schooltask>
                    <file>cashback.xml</file>
                </schooltask>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <events>
        <sales_order_place_after>
            <observers>
                <schooltask_observer>
                    <type>singleton</type>
                    <class>schooltask/observer</class>
                    <method>setDiscountCashback</method>
                </schooltask_observer>
            </observers>
        </sales_order_place_after>
        </events>
        <blocks>
            <schooltask>
                <class>School_Task_Block</class>
            </schooltask>
        </blocks>
        <helpers>
            <schooltask>
                <class>School_Task_Helper</class>
            </schooltask>
        </helpers>
        <fieldsets>
            <sales_convert_quote_address>
                <base_cashback_discount_amount>
                    <to_order>*</to_order>
                </base_cashback_discount_amount>
                <cashback_discount_amount>
                    <to_order>*</to_order>
                </cashback_discount_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <sales>
            <quote>
                <totals>
                    <cashback_discount>
                        <class>schooltask/sales_quote_address_total_discount</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </cashback_discount>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <cashback_discount>
                        <class>schooltask/sales_order_invoice_total_discount</class>
                        <after>subtotal</after>
                    </cashback_discount>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <cashback_discount>
                        <class>schooltask/sales_order_creditmemo_total_discount</class>
                        <after>subtotal</after>
                    </cashback_discount>
                </totals>
            </order_creditmemo>
        </sales>
        <models>
            <schooltask>
                <class>School_Task_Model</class>
                <resourceModel>schooltask_resource</resourceModel>
            </schooltask>
            <schooltask_resource>
                <class>School_Task_Model_Resource</class>
            </schooltask_resource>
        </models>
        <resources>
            <schooltask_setup>
                <setup>
                    <module>School_Task</module>
                </setup>
            </schooltask_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <schooltask>
                <use>standard</use>
                <args>
                    <module>School_Task</module>
                    <frontName>schooltask</frontName>
                </args>
            </schooltask>
        </routers>
        <layout>
            <updates>
                <schooltask module="schooltask">
                    <file>cashback.xml</file>
                </schooltask>
            </updates>
        </layout>
    </frontend>
    <default>
        <schooltask>
            <schooltask_group>
                <schooltask_enabled>1</schooltask_enabled>
                <schooltask_cashback_percent>10</schooltask_cashback_percent>
            </schooltask_group>
        </schooltask>
    </default>
</config>
