<?xml version="1.0"?>

<config>
    <modules>
        <School_Test>
            <version>1.0.0</version>
        </School_Test>
    </modules>

    <global>

    </global>

    <frontend>
        <routers>
            <school_test>
                <use>standard</use>
                <args>
                    <module>School_Test</module>
                    <frontName>schooltest</frontName>
                </args>
            </school_test>
        </routers>
    </frontend>

    <admin>

    </admin>

    <adminhtml>

    </adminhtml>

    <default>

    </default>

</config>
