<?xml version="1.0" ?>
<config>
    <modules>
        <School_FirstTest>
            <version>1.0.0</version>
        </School_FirstTest>
    </modules>
    <frontend>
        <routers>
            <firsttest>
                <use>standard</use>
                <args>
                    <module>School_FirstTest</module>
                    <frontName>test</frontName>
                </args>
            </firsttest>
        </routers>
    </frontend>
</config>