<?xml version="1.0" ?>
<config>
    <modules>
        <school_luxurytax>
            <version>1.0.0</version>
        </school_luxurytax>
    </modules>
    <global>
        <helpers>
            <school_luxurytax>
                <class>School_Luxurytax_Helper</class>
            </school_luxurytax>
        </helpers>

        <models>
            <school_luxurytax>
                <class>School_Luxurytax_Model</class>
            </school_luxurytax>
        </models>
        <blocks>
            <school_luxurytax>
                <class>School_Luxurytax_Block</class>
            </school_luxurytax>
        </blocks>
        <resources>
            <luxurytax_setup>
                <setup>
                    <module>school_luxurytax</module>
                </setup>
            </luxurytax_setup>
        </resources>
        <sales>
            <quote>
                <totals>
                    <luxury_tax><!-- Identify of the total model -->
                        <class>school_luxurytax/total_luxurytax_tax</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </luxury_tax>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <luxury_tax>
                        <class>school_luxurytax/total_luxurytax_invoice</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </luxury_tax>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <luxury_tax>
                        <class>school_luxurytax/total_luxurytax_creditmemo</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </luxury_tax>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote>
                <luxury_tax_amount>
                    <to_order>*</to_order>
                </luxury_tax_amount>
                <base_luxury_tax_amount>
                    <to_order>*</to_order>
                </base_luxury_tax_amount>
            </sales_convert_quote>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <school_luxurytax>
                    <file>school/luxurytax.xml</file>
                </school_luxurytax>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <school_luxurytax>
                    <file>school/luxurytax.xml</file>
                </school_luxurytax>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <luxurytax_options>
                                            <title>Store Luxuryrax Module Section</title>
                                        </luxurytax_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <luxurytax_options>
            <luxurytax_group>
                <enabled>1</enabled>
                <luxurytax_fetch_label>Luxury</luxurytax_fetch_label>
                <luxurytax_base_luxury_tax_amount>25</luxurytax_base_luxury_tax_amount>
                <luxurytax_price_value>50</luxurytax_price_value>
            </luxurytax_group>
        </luxurytax_options>
    </default>
</config>
