<?xml version="1.0"?>
<!--
 * @category    Training
 * @package     Training_Configviewer
 * @copyright   Copyright (c) 2006-2019 Magento, Inc. (http://www.magento.com)
 * @license     Smile
 */
-->

<config>
    <modules>
        <Training_Configviewer>
            <version>0.1.0</version>
        </Training_Configviewer>
    </modules>
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <Training_configviewer_model_observer>
                        <type>singleton</type>
                        <class>Training_Configviewer_Model_Observer</class>
                        <method>checkForConfigRequest</method>
                    </Training_configviewer_model_observer>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config>