<?xml version="1.0"?>
<!--
 * @category    Training
 * @package     Training_Weblog
 * @copyright   Copyright (c) 2006-2019 Magento, Inc. (http://www.magento.com)
 * @license     Smile
-->
<config>
    <modules>
        <Training_Complexworld>
            <version>0.1.4</version>
        </Training_Complexworld>
    </modules>
    <frontend>
        <routers>
            <complexworld>
                <use>standard</use>
                <args>
                    <module>Training_Complexworld</module>
                    <frontName>complexworld</frontName>
                </args>
            </complexworld>
        </routers>
        <layout>
            <updates>
                <complexworld>
                    <file>training/complexworld/complex.xml</file> <!-- Our layout file name-->
                </complexworld>
            </updates>
        </layout>
    </frontend>
    <!--    GRID-->
    <admin>
        <routers>
            <!--Unique identifier-->
            <training>
                <use>admin</use>
                <args>
                    <module>Training_Complexworld</module>
                    <frontName>complexworld</frontName>
                </args>
            </training>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <!-- Module identifier -->
                <training_complexworld>
                    <!-- Location of our layout file should be app/design/adminhtml/default/default/layout/codealist/backendmodule.xml -->
                    <file>training/complexworld/complex.xml</file>
                </training_complexworld>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <!--        read data from blocks-->
        <blocks>
            <training_complexworld>
                <class>Training_Complexworld_Block</class>
            </training_complexworld>
        </blocks>
        <models>
            <complexworld>
                <class>Training_Complexworld_Model</class>
                <resourceModel>complexworld_resource</resourceModel>
            </complexworld>
            <complexworld_resource>
                <class>Training_Complexworld_Model_Resource</class>
                <entities>
                    <iphonepost>
                        <table>iphone_post</table>
                    </iphonepost>
                </entities>
            </complexworld_resource>
<!--            CRON-->
        </models>
        <!-- ... -->
        <resources>
            <complexworld_setup>
                <setup>
                    <module>Training_Complexworld</module>
                    <class>Training_Complexworld_Model_Resource_Setup</class>
                </setup>
            </complexworld_setup>
        </resources>
<!--        HELPER-->
        <helpers>
            <training_complexworld>
                <class>Training_Complexworld_Helper</class>
            </training_complexworld>
        </helpers>
<!--        observer-->
<!--        <events>-->
<!--            <complexword_iphonepost_load_after>-->
<!--                <observers>-->
<!--                    <Training_complexworld_model_observer>-->
<!--                        <type>singleton</type>-->
<!--                        <class>complexworld/observer</class>-->
<!--                        <method>complexworld</method>-->
<!--                    </Training_complexworld_model_observer>-->
<!--                </observers>-->
<!--            </complexword_iphonepost_load_after>-->
<!--        </events>-->
    </global>
    <crontab>
        <jobs>
            <complexworld_cron_task>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>complexworld/iphonepost::myCron</model>
                </run>
            </complexworld_cron_task>
        </jobs>
    </crontab>
</config>
