<?xml version="1.0" ?>
<config>
    <modules>
        <School_News>
            <version>1.0.0</version>
        </School_News>
    </modules>
    <frontend>
        <routers>
            <news>
                <use>standard</use>
                <args>
                    <module>School_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
        <layout>
            <updates>
                <school_news>
                    <file>school/news.xml</file>
                </school_news>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <school_news>
                <class>School_News_Block</class>
            </school_news>
        </blocks>
        <models>
            <school>
                <class>School_News_Model</class>
                <resourceModel>news_resource</resourceModel>
            </school>
            <news_resource>
                <class>School_News_Model_Resource</class>
                <entities>
                    <news>
                        <table>news_entities</table>
                    </news>
                </entities>
            </news_resource>
        </models>
        <resources>
            <news_setup>
                <setup>
                    <module>School_News</module>
                </setup>
            </news_setup>
        </resources>
    </global>
</config>