<?xml version="1.0" ?>
<config>

    <modules>
        <School_OnlineGaming>
            <version>1.0.1</version>
        </School_OnlineGaming>
    </modules>

    <frontend>
        <routers>
            <onlinegaming>
                <use>standard</use>
                <args>
                    <module>School_OnlineGaming</module>
                    <frontName>games</frontName>
                </args>
            </onlinegaming>
        </routers>
        <layout>
            <updates>
                <school_onlinegaming>
                    <file>school/onlinegaming.xml</file>
                </school_onlinegaming>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <school_onlinegaming before="Mage_Adminhtml">School_OnlineGaming_Adminhtml</school_onlinegaming>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <admin_school_onlinegaming>
                    <file>school/onlinegaming.xml</file>
                </admin_school_onlinegaming>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <models>
            <onlinegaming>
                <class>School_OnlineGaming_Model</class>
                <resourceModel>onlinegaming_resource</resourceModel>
            </onlinegaming>
            <onlinegaming_resource>
                <class>School_OnlineGaming_Model_Resource</class>
                <entities>
                    <eavgames>
                        <table>onlinegaming_eavgames_entity</table>
                    </eavgames>
                    <gamesrank>
                        <table>onlinegaming_games_rank</table>
                    </gamesrank>
                </entities>
            </onlinegaming_resource>
            <!--<catalog>
                <rewrite>
                    <product>School_OnlineGaming_Model_ProductCorrectName</product>
                </rewrite>
            </catalog>-->
        </models>
        <events>
            <onlinegaming_eavgames_load_after>
                <observers>
                    <school_onlinegaming_model_observer>
                        <type>singleton</type>
                        <class>School_OnlineGaming_Model_Observer</class>
                        <method>showMessage</method>
                    </school_onlinegaming_model_observer>
                </observers>
            </onlinegaming_eavgames_load_after>
        </events>
        <blocks>
            <onlinegaming>
                <class>School_OnlineGaming_Block</class>
            </onlinegaming>
            <gamesgrid>
                <class>School_OnlineGaming_Block_Adminhtml</class>
            </gamesgrid>
        </blocks>
        <resources>
            <onlinegaming_setup>
                <setup>
                    <module>School_OnlineGaming</module>
                    <class>School_OnlineGaming_Model_Resource_Setup</class>
                </setup>
            </onlinegaming_setup>
        </resources>
        <helpers>
            <school_onlinegaming>
                <class>School_OnlineGaming_Helper</class>
            </school_onlinegaming>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <onlinegaming_cron_task>
                <schedule>
                    <cron_expr>* * * /10 * *</cron_expr>
                </schedule>
                <run>
                    <model>onlinegaming/eavgames::cronTask</model>
                </run>
            </onlinegaming_cron_task>
        </jobs>
    </crontab>
</config>
