<?xml version="1.0"?>
<config>
    <modules>
        <school_deliveryx>
            <version>1.0.1</version>
        </school_deliveryx>
    </modules>

    <frontend>
        <layout>
            <updates>
                <school_deliveryx>
                    <file>school/deliveryx.xml</file>
                </school_deliveryx>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <admin_school_deliveryx>
                    <file>school/deliveryx.xml</file>
                </admin_school_deliveryx>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <models>
            <deliveryx>
                <class>School_Deliveryx_Model</class>
                <resourceModel>deliveryx_resource</resourceModel>
            </deliveryx>
            <deliveryx_resource>
                <class>School_Deliveryx_Model_Resource</class>
                    <entities>
                        <offices>
                            <table>deliveryx_offices_entity</table>
                        </offices>
                        <offices_datetime>
                            <table>deliveryx_offices_entity_datetime</table>
                        </offices_datetime>
                        <offices_decimal>
                            <table>deliveryx_offices_entity_decimal</table>
                        </offices_decimal>
                        <offices_int>
                            <table>deliveryx_offices_entity_int</table>
                        </offices_int>
                        <offices_text>
                            <table>deliveryx_offices_entity_text</table>
                        </offices_text>
                        <offices_varchar>
                            <table>deliveryx_offices_entity_varchar</table>
                        </offices_varchar>
                        <offices_char>
                            <table>deliveryx_offices_entity_char</table>
                        </offices_char>
                    </entities>
            </deliveryx_resource>
        </models>
        <blocks>
            <deliveryx>
                <class>School_Deliveryx_Block</class>
            </deliveryx>
        </blocks>
        <helpers>
            <deliveryx>
                <class>School_Deliveryx_Helper</class>
            </deliveryx>
        </helpers>
        <resources>
            <deliveryx_setup>
                <setup>
                    <module>school_deliveryx</module>
                    <class>School_Deliveryx_Model_Resource_Setup</class>
                </setup>
            </deliveryx_setup>
        </resources>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <school_deliveryx_model_observer>
                        <type>singleton</type>
                        <class>School_Deliveryx_Model_Observer</class>
                        <method>changeShippingAddress</method>
                    </school_deliveryx_model_observer>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <school_deliveryx before="Mage_Adminhtml">school_deliveryx_Adminhtml</school_deliveryx>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <default>
        <carriers>
            <deliveryx>
                <active>1</active>
                <model>deliveryx/carrier</model>
                <title>Delivery X</title>
                <sort_order>1</sort_order>
                <standard_method_price>5.99</standard_method_price>
                <express_method_price>9.99</express_method_price>
            </deliveryx>
        </carriers>
    </default>
</config>
