<?xml version="1.0"?>
<config>
    <modules>
        <World_Insurancetax>
            <version>1.0.0</version>
        </World_Insurancetax>
    </modules>
    <frontend>
        <layout>
            <updates>
                <insurancetax>
                    <file>insurancetax.xml</file>
                </insurancetax>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <insurancetax>
                    <file>insurancetax.xml</file>
                </insurancetax>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <blocks>
            <insurancetax>
                <class>World_Insurancetax_Block</class>
            </insurancetax>
        </blocks>
        <resources>
            <insurancetax_setup>
                <setup>
                    <module>World_Insurancetax</module>
                </setup>
            </insurancetax_setup>
        </resources>
        <helpers>
            <insurancetax>
                <class>World_Insurancetax_Helper</class>
            </insurancetax>
        </helpers>
        <fieldsets>
            <sales_convert_quote_address>
                <base_insurance_tax_amount>
                    <to_order>*</to_order>
                </base_insurance_tax_amount>
                <insurance_tax_amount>
                    <to_order>*</to_order>
                </insurance_tax_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <models>
            <insurancetax>
                <class>World_Insurancetax_Model</class>
            </insurancetax>
        </models>

        <sales>
            <quote>
                <totals>
                    <insurance_tax>
                        <class>insurancetax/sales_quote_address_total_insurancetax</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </insurance_tax>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <insurance_tax>
                        <class>insurancetax/sales_order_invoice_total_insurancetax</class>
                        <after>subtotal</after>
                    </insurance_tax>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <insurance_tax>
                        <class>insurancetax/sales_order_creditmemo_total_insurancetax</class>
                        <after>subtotal</after>
                    </insurance_tax>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
    <default>
        <insurancetax>
            <insurancetax_group>
                <insurancetax_enabled>1</insurancetax_enabled>
                <insurancetax_insurance_tax_amount>40</insurancetax_insurance_tax_amount>
                <insurancetax_price>250</insurancetax_price>
            </insurancetax_group>
        </insurancetax>
    </default>
</config>