<?xml version="1.0"?>
<!--
 * @category    Training
 * @package     Training_Helloworld
 * @copyright   Copyright (c) 2006-2019 Magento, Inc. (http://www.magento.com)
 * @license     Smile
-->
<config>
    <modules>
        <Training_First>
            <version>0.1.0</version>
        </Training_First>
    </modules>

    <frontend>
        <routers>
            <first>
                <use>standard</use>
                <args>
                    <module>Training_First</module>
                    <frontName>first</frontName>
                </args>
            </first>
        </routers>
        <layout>
            <updates>
                <first>
                    <file>training/first/first.xml</file> <!-- Our layout file name-->
                </first>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <first>
                <class>Training_First_Block</class>
            </first>
        </blocks>
        <models>
            <first>
                <class>Training_First_Model</class>
                <!--
                need to create our own resource, can't just
                use core_resource
                -->
                <resourceModel>first_resource</resourceModel>
            </first>
            <first_resource>
                <class>Training_First_Model_Resource</class>
                <entities>
                    <blogvovk>
                        <table>blog_vovk</table>
                    </blogvovk>
                </entities>
            </first_resource>
        </models>
        <!-- ... -->
        <resources>
            <first_setup>
                <setup>
                    <module>Training_First</module>
                    <class>Training_First_Model_Resource_Setup</class>
                </setup>
            </first_setup>
        </resources>
    </global>
</config>