<?xml version="1.0"?>
<!--
 * @category    Training
 * @package     Training_Cron
 * @copyright   Copyright (c) 2006-2019 Magento, Inc. (http://www.magento.com)
 * @license     Smile
-->
<config>
    <modules>
        <Training_Cron>
            <version>0.1.0</version>
        </Training_Cron>
    </modules>
    <crontab>
        <jobs>
            <custom_cron_task>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cron/cron::crontask</model>
                </run>
            </custom_cron_task>
        </jobs>
    </crontab>
<!--   GRID-->
    <global>
        <helpers>
            <training_cron>
                <class>Training_Cron_Helper</class>
            </training_cron>
        </helpers>
        <blocks>
            <training_cron>
                <!-- Set a block definition and lookup directory -->
                <class>Training_Cron_Block</class>
            </training_cron>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <!-- This is how we load our Adminhtml controllers -->
                    <modules>
                        <training_cron before="Mage_Adminhtml">Training_Cron_Adminhtml</training_cron>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <training_cron>
                    <!--
                    We again keep a nice naming convention and make our module upgrade proof by placing it in a separate folder
                    - Since we are in the adminhtml node, this will look for the XML file in the app/design/adminhtml/default/default root folder
                    -->
                    <file>training/cron/grid.xml</file>
                </training_cron>
            </updates>
        </layout>
    </adminhtml>
</config>
